body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    text-align: center; /* Center the text */
    font-size: 24px; /* Adjust font size */
    margin-top: 0; /* Remove top margin */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.weather-result {
    margin-top: 20px;
}

.loading {
    margin-top: 20px;
    font-size: 1.2em;
}
